{% extends 'base.html.twig' %}

{% block title %}Major index{% endblock %}

{% block body %}
    <h1>Majors</h1>
    <a class="btn btn-primary" href="{{ path('major_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for major in majors %}
            <tr>
                <td><a href="{{ path('major_show', {'id': major.id}) }}">{{ major.name }}</a></td>
                <td>

                    <a href="{{ path('major_edit', {'id': major.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
