{% extends 'base.html.twig' %}

{% block title %}Major{% endblock %}

{% block body %}
    <h1>Major</h1>
    <a  class="btn btn-primary" href="{{ path('major_edit', {'id': major.id}) }}">Edit</a>

    {{ include('major/_delete_form.html.twig') }}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ major.name }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}
