{% extends 'base.html.twig' %}

{% block title %}Sustainability Certificate{% endblock %}

{% block body %}

    <div class="jumbotron">

        <h1 class="display-4">Sustainability Certificate</h1>
{#        <div class="alert alert-danger" role="alert">#}
{#            The Certificate application is not available at this time.#}
{#            We apologize for any inconvenience.#}
{#        </div>#}
        <p class="lead">Welcome to the Sustainability Certificate.</p>
        <hr class="my-4">
        <p class="lead">
            <a target="_blank" class="btn btn-primary btn-lg" href="https://sustainability.uga.edu/certificate/about/" role="button">Learn More about the Program</a>
            <a class="btn btn-primary btn-lg" href="{{ path('profile') }}" role="button">Apply Today</a>
            <a class="btn btn-primary btn-lg" href="{{ path('profile') }}" role="button">Login</a>
        </p>
    </div>

    <div>Updated 11/11/24</div>
{% endblock %}
