{% extends 'base.html.twig' %}

{% block title %}Sustainability Certificate{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Sustainability Certificate</h1>
        <p class="lead">Welcome to the Sustainability Certificate.</p>
        <hr class="my-4">
        <p>To apply to the program, click "Get Started" button below.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('profile') }}" role="button">Get Started</a>
        </p>
    </div>
{% endblock %}
