{% extends 'base.html.twig' %}

{% block title %}Edit Substitution{% endblock %}

{% block body %}
    <h1>Edit Substitution</h1>

    {{ include('substitution/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
