{% extends 'base.html.twig' %}

{% block title %}New Substitution{% endblock %}

{% block body %}
    <h1>New Substitution</h1>
    <p>Please fill in the following form  to apply for a substitution for one of the certificate requirements.</p>

    {{ include('substitution/_form.html.twig') }}

{% endblock %}
