{% extends 'base.html.twig' %}

{% block title %}New Substitution{% endblock %}

{% block body %}
    <h1>Create new Substitution</h1>

    {{ include('substitution/_form.html.twig') }}

{% endblock %}
