{% extends 'base.html.twig' %}

{% block title %}Edit Checklist{% endblock %}

{% block body %}
    <h1>Edit Checklist</h1>

    {{ include('checklist/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
