{% extends 'base.html.twig' %}

{% block title %}Checklist{% endblock %}

{% block body %}
    <h1>Checklist</h1>

    {{ include('checklist/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
