{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
