{% extends 'email/email_base.html.twig' %}

{% block body %}
    <p>{{ user.firstName }} {{ user.lastName }}, congrats.  You have officially completed all requirements for the Sustainability Certificate.</p>
    <p>The Sustainability Certificate Staff</p>
{% endblock %}