{% extends 'email/email_base.html.twig' %}

{% block body %}
    <p>{{ user.firstName }} {{ user.lastName }}, your substitution for the Sustainability Certificate has been approved.</p>
    <p>If you have any questions, please contact the certificate director: scdirector@uga.edu.</p>
    <p>The Cert Staff</p>
{% endblock %}