<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Sustainability Certificate{% endblock %}</title>

    {% block stylesheets %}
        <style>
            .container {font-family: Arial;}
        </style>
    {% endblock %}

</head>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>

</html>
