{% extends 'email/email_base.html.twig' %}

{% block body %}
    <p>Hi {{ user.firstName}} {{ user.lastName }}.</p>
    <p>Thanks for updating your profile.</p>
    <p>If you haven't already, the next step is to fill out an application. It's easy and won't take long.</p>
    <p>Email scdirector@uga.edu if you have questions.</p>
    <p>The Cert Staff</p>
{% endblock %}